<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">
      {{ site.title }}
    </h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="https://www.BytePen.com/">Main Website</a></li>
          <li><a href="https://projects.BytePen.com/">Other Projects</a></li>
          <li><a href="https://gitlab.com/bytepen/bytepen.gitlab.io">This Project on GitLab</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.gitlab_username %}
          <li>
            {% include icon-gitlab.html username=site.gitlab_username %}
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        {% include search.html %}
      </div>
    </div>

  </div>

</footer>
